h1 {
    font-family: monospace;
    font-size: 26px;
}

body {
    color: #fa8728;
    background-color: #08002D;
    font-family: monospace;
    font-size: 11px;
}

#top {
    display: none; /* Hidden by default */
    position: fixed; /* Sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none;
    background-color: #fa8728; /* Set a background color */
    color: #05001b; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: monospace;
    font-weight: bold;
}
#top:hover {
    background-color: #08002D; /* Add a dark-grey background on hover */
    color: #fa8728;
}