html {
  font-family: 'JetBrains Mono', monospace;
}

/* For changing the background */

@media (pointer:none), (pointer:coarse) {
  .background-img {
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
  }
}

@media (pointer:fine) {
  .background-img {
    background-attachment: fixed;
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/others/home_page_background.png");
  }
}

/* For changing the text size dynamically */

@media screen and (max-width: 500px) {
  .page-title {
    font-size: 12.9vw;
  }
}

@media screen and (min-width: 500px) {
  .page-title {
    font-size: 60px;
  }
}

@media screen and (min-width: 500px) {
  .page-heading {
    font-size: 37px;
  }
}

@media screen and (max-width: 500px) {
  .page-heading {
    font-size: 9vw;
  }
}

@media screen and (min-width: 500px) {
  .page-body-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .page-body-text {
    font-size: 5vw;
  }
}

