html {
  font-family: 'JetBrains Mono', monospace;
}

/* For changing the background */

@media (pointer:fine) {
  .background-svg-1 {
    z-index: 0;
    position: fixed;
    top: 30%;
    left: -10%;
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@media (pointer:fine) {
  .background-svg-2 {
    z-index: 0;
    position: fixed;
    top: -10%;
    right: -10%;
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@media (pointer:fine) {
  .background-svg-3 {
    z-index: 0;
    position: fixed;
    bottom: -25%;
    right: 30%;
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

/* For changing the text size dynamically */

@media screen and (max-width: 500px) {
  .page-title {
    font-size: 12.9vw;
  }
}

@media screen and (min-width: 500px) {
  .page-title {
    font-size: 60px;
  }
}

@media screen and (min-width: 500px) {
  .page-heading {
    font-size: 37px;
  }
}

@media screen and (max-width: 500px) {
  .page-heading {
    font-size: 9vw;
  }
}

@media screen and (min-width: 500px) {
  .page-body-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .page-body-text {
    font-size: 5vw;
  }
}

/* For auto-filling the screen height */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

