<html>
    <head>
        <title>Sooraj's Website</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/backtotopbutton.css') }}"> -->
    </head>
    <body>
        <a href="" id="top"></a>
        <h1>This is a heading 1!</h1>
        <p>This is a paragraph!</p>
        <a href="/examplepage">Click here to go to the example page!</a>
        <a href="/number-adder">Click here to go to a number adder!</a>
        <a href="#top" class="back">Back to the top</a>
    </body>
</html>