<html>
    <head>
        <title>Sooraj's Website</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <button onclick="topFunction()" id="top" title="Go to top">Back To Top</button>
        <!-- <a href="" id="top"></a> -->
        <h1>Sooraj.dev</h1>
        <p>This is a paragraph!</p>
        <a href="/examplepage">Click here to go to the example page!</a>
        <a href="/number-adder">Click here to go to a number adder!</a>
        <p>This website contains some cooooooool stuff.</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <p>This is a paragraph!</p>
        <!-- <a href="#top" class="back">Back to the top</a> -->
        <script  type="text/javascript" src="/static/javascript/main.js"></script>
    </body>
</html>