<html>
    <head>
        <title>Number Adder</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body>
        <h1>Number Adder</h1>
        <p>Type in two numbers to find out the total!</p>
        <form action="/number-adder/answer" method="post">
            <div>
                Type a number:
                <input type="number" name="number1">
            </div>
            <div>
                Type another number:
                <input type="number" name="number2">
            </div>
            <input type="submit" name="Submit" value="Submit">
        </form>
    </body>
</html>